#  Test Report 

* Since we are implimenting a queue the tests should be for a queue data structure
* All test will take place in test_driver.cpp 

## Test #1 
* Test should ensure that an object from the Application class was successfully added to queue 1 (more qualified applicants) or queue2 
*  To run this test call testAddApplic( ) in testing main 

## Test #2 
* This test should make sure that an object was deleted from queue 1 after it is poppped from the top. 
* To run this test call testIn&Out in the main file 

## Test #3 
* This test makes sure that the Queue is deallocated after the MakeEmpty( ) function is called and correclty calls isEmpty( )
* To run this test call testEmpty( ) in the main tester file 

## Test #4
* This test will test the GetLength( ) to make sure it returns the right length
* To run this test call testGetLength( ) in the main test driver file



